<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>getforms</title>
    
  </head>
  <body>
	<form action="https://getform.io/f/679da2f1-20da-4c9e-93e4-29756cb71bc1" method="POST">
	  <input type="text" name="name" placeholder="eg. mukul yadav"> <br>
	  <input type="email" name="email" placeholder="email"><br>
	  <input type="text" name="message" placeholder="message"><br>
	  <button type="submit">Send</button>
	</form>
  </body>
</html>